name: Build Pro Binary

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          brew install make ldid dpkg

      - name: Clone Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $HOME/theos
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV

      - name: Setup environment
        run: |
          echo "ARCHS=arm64" >> $GITHUB_ENV
          echo "TARGET=iphone:clang:latest" >> $GITHUB_ENV

      - name: Build Application
        run: |
          export THEOS=$HOME/theos
          make clean
          make

      - name: Upload Pro Binary
        uses: actions/upload-artifact@v4
        with:
          name: Pro-Binary
          path: .theos/obj/debug/Pro.app/Pro
