name: Build iOS App

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $HOME/theos
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV

      - name: Build
        run: |
          make package FINALPACKAGE=1

      - name: Upload IPA
        uses: actions/upload-artifact@v3
        with:
          name: Pro-IPA
          path: packages/*.ipa
